/* @import can be used to import external stylesheets or fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.05rem;
}
